<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messi.languagehelper.meinv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="ProviderId"
            android:value="${applicationId}.provider" />

        <!--<meta-data android:value="5b7ed6a08f4a9d303c000060" android:name="UMENG_APPKEY"/>-->
        <meta-data android:value="tencent" android:name="UMENG_CHANNEL"/>

        <!-- 讯飞广告sdk -->
        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="5450bd92" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="messi" />

        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForXF"
            />
        <!-- 讯飞广告sdk -->

        <!--腾讯广告-->
        <service android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.PortraitADActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.LandscapeADActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!--腾讯广告-->

        <activity
            android:name=".MeixiuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"  />
        <activity
            android:name=".CaricatureMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"  />
        <activity
            android:name=".InstallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeinvTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewForMiaosouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewNoAdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiaosouDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovelCollectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovelResultListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewWithCollectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewForCaricatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CNSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewForNovelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaricatureSourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaricatureSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaricatureSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaricatureDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeinvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImgViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />



    </application>

</manifest>